<!DOCTYPE html>
<html>
<head>
    <title>Presentación</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>


    <div id="presentacion_vistas">


    </div>
    
    
    
    <script>
        const duracion = "{{tiempo}}"
        const divPresentacion = document.getElementById("presentacion_vistas")
        const media = "{%for archivo in archivos%}{{archivo.archivo.url}},{%endfor%}".split(",").filter(a=>a);


        function diferenciarArchivos(archivo){
            const formato_imagenes = [".png",".jpg",".jpeg",".gif"]
            const esImagen = formato_imagenes.some(formato=>
            {const terminaCon=archivo.endsWith(formato)
                console.log(terminaCon)
                return terminaCon
            })
            
            if (esImagen){
                return "imagen"
                
            }else{
                return "video"
            }
            
        }



        function render(media){
            for (archivo in media){
                console.log(diferenciarArchivos(archivo))
                if (diferenciarArchivos(archivo)==="imagen"){
                    console.log("xx")
                    setTimeout(()=>{
                        const templateImagen=document.createElement("img",{src:archivo})
                        console.log(templateImagen)
                        divPresentacion.appendChild(templateImagen)
                    },duracion*1000)

                }
            }

            


        }

        function clean(){
            divPresentacion.childNodes.forEach(child=>child.remove())
        }
   
        function createTemplate(){

        }
        const mediaItems = document.querySelectorAll('#slideshow-container img, #slideshow-container video');
        const currentIndex = 0;
    
        function showMediaItem(index) {
            // Ocultar todos los elementos de media
            for (let i = 0; i < mediaItems.length; i++) {
                mediaItems[i].style.display = 'none';
            }
    
            // Mostrar solo el elemento actual
            var currentMedia = mediaItems[currentIndex];
            currentMedia.style.display = 'block';
    
            const duracion = duracion * 1000; // Duración predeterminada en milisegundos
    
            if (currentMedia.tagName === 'VIDEO') {
                var videoElement = currentMedia;
    
                videoElement.currentTime = 0; // Reiniciar el video al principio
                videoElement.play(); // Reproducir el video automáticamente
    
                // Obtener la duración real del video (en segundos) para ajustar la duración de la presentación
                var videoDuration = videoElement.duration;
                if (!isNaN(videoDuration) && videoDuration > 0) {
                    duration = videoDuration * 1000; // Convertir a milisegundos
                }
            }
    
            setTimeout(function() {
                // Pasar al siguiente elemento
                currentIndex = (currentIndex + 1) % mediaItems.length;
                showMediaItem(currentIndex);
            }, duration);
        }
    
        // Comenzar la presentación con la primera imagen automáticamente
        //showMediaItem(currentIndex);
        render(media)
    </script>
    
    
    
    
    
    
</body>
</html>






